<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <label><a href="/" methods="GET">TOP</a></label>
    <label><a href="/login" methods="GET">login</a></label>
    <label><a href="/signup" methods="GET">signup</a></label>
</header>

{{ range .message }}
    <h2 style="color: red">{{ .message }}</h2>
{{ end }}

<div class="col-md-offset-4 col-md-4">

    <form method="POST" action="/user/signup">
        <h2>ログイン</h2>
        ユーザー名
        <input name="username" type="text" placeholder="UserName" required>
        パスワード
        <input name="password" type="password" placeholder="Password" required>
        パスワード再確認
        <input name="passwordconf" type="password" placeholder="Password" required>
        <br>
        <button type="submit">アカウント作成</button>
    </form>
</div>

</body>
</html>
